# Кэш компиляции Python (лишние файлы)
__pycache__/
*.pyc

# Локальный файл данных (чтобы у других пользователей запускался чистый проект)
books.json

# Системные файлы операционных систем (необязательно, но полезно)
.DS_Store
Thumbs.db
