# Кэш компиляции Python
__pycache__/
*.pyc

# Локальная база данных приложения
expenses.json

# Файлы сред разработки (IDE) и баз данных
.idea/
.vscode/
*.sqlite3

# Системные файлы
.DS_Store
Thumbs.db
